# Node modules
node_modules/

# Dependencias de npm (si las usas)
package-lock.json
yarn.lock

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de compilación y distribución
dist/
build/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de sistemas de gestión de entornos
.env
.venv/

# Archivos de cache de editores y herramientas
*.log
*.tmp
*.bak

# Archivos de la carpeta de assets (si no quieres que se suban)
assets/

# Archivos de Jupyter (si es que los usas)
.ipynb_checkpoints/

# Otros archivos específicos de tu entorno de desarrollo
*.swp
